h4{
    color: #ced02d;    
}
ul{
    margin: 0;
}
body > nav > div{
    width: 40%;
 }
 figure{
    margin: 0;
 }
header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    position: relative;
}
header > ul {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: medium;    
    width: 90%;
    height: 100%;   
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 0;
}
#navbarSupportedContent{
    width: 100%;
    justify-content: space-around;
}

#navbarSupportedContent > form > button{
    background-color: white;
}
#navbarSupportedContent > form > button:hover{
    background-color: black;
    color: white;   
}

body > header > ul > ul > li:nth-child(2) > a{
color: white;
text-decoration: none;
}
#navbarSupportedContent > ul > li > a{
    text-decoration: none;
    color: #ced02d;
}
#navbarSupportedContent > ul{
    width: 60%;
    justify-content: space-around;
}
/*Card*/
body > div > div > article > figure > ul{
    padding-top: 12px;
    color: #ced02d;
    color: white;
    font-size: medium;
}

body > div > div > article > figure > ul > li:nth-child(2) > a{
    color: #ced02d;
}
body > div > div > article > figure{
    background-color: black;  
    display: flex;
    align-items: center;   
}
body > div > div > article{
    background-color: black; 
    height: 300px;      
}
body > div > div > article > figure > ul > li > h5{
    font-size: medium;
}
footer{
    width: 100%;
    display: flex;
    height: 100px;
    background-color: black;
    margin-top: 12px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header > ul {    
        width: 95%; 
    }
    #navbarSupportedContent > ul{
        flex-direction: column; 
        padding: 0;
     }
     body > nav > div{
        width: 98%;
     }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {   header > ul {    
    width: 95%;     
}
#navbarSupportedContent > ul{
    flex-direction: column; 
    padding: 0;
 }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {   
    header > ul
    {    
    width: 90%; 
    } 
    #navbarSupportedContent > ul{
        flex-direction: column; 
        padding: 0;
     }  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {   header > ul {    
    width: 85%; 
}
#navbarSupportedContent > ul{
    display: flex;
    margin: 0;
    flex-direction: row; 
}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {   header > ul {    
    width: 80%; 
}
#navbarSupportedContent > ul{
    display: flex;
    margin: 0;
    flex-direction: row; 
}
}

article{
    position: relative;
    overflow: hidden;
    padding-top: 12px;
    height: 441px;
}
figure{
    width: 100%;
    position: absolute;
    z-index: 12;bottom: 0;
    padding: 0;
    margin: 0;
    left: 0;
}